In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
whales = pd.read_csv('data/whales.csv')
#select only cols we want
whales = whales[['timestamp', 'location-long', 'location-lat', 'individual-local-identifier']]
#rename them for ease of use
whales = whales.rename(columns={'timestamp': 'time', 'location-long': 'long', 'location-lat': 'lat', 'individual-local-identifier': 'id'})

In [3]:
#inspect
whales.head()

                      time     long     lat                id
0  1993-08-29 01:13:00.000 -122.433  37.058  1993CA-Bmu-00834
1  1993-08-28 18:20:00.000 -122.412  37.012  1993CA-Bmu-10823
2  1993-08-28 18:54:00.000 -122.415  37.022  1993CA-Bmu-10833
3  1993-08-31 23:40:00.000 -122.773  37.198  1993CA-Bmu-10836
4  1994-09-13 21:28:00.000 -123.102  37.687  1994CA-Bmu-10820

In [4]:
whales.isna().sum()

time    0
long    0
lat     0
id      0
dtype: int64

In [5]:
whales.dtypes

time     object
long    float64
lat     float64
id       object
dtype: object

In [6]:
#Turn time into datetime:

In [7]:
whales['time'] = pd.to_datetime(whales['time'])

In [8]:
year = 1998

In [9]:
w_year = whales[whales['time'].dt.year == year]

w_1999 = whales[whales['time'].dt.year == 1999]

w_2008 = whales[whales['time'].dt.year == 2008]

In [10]:
min_year_date = np.min(w_year['time'])
max_year_date = np.max(w_year['time'])

In [11]:
min_1999_date = np.min(w_1999['time'])
max_1999_date = np.max(w_1999['time'])

In [12]:
min_2008_date = np.min(w_2008['time'])
max_2008_date = np.max(w_2008['time'])

In [13]:
mins = [min_year_date, min_1999_date, min_2008_date]
maxes = [max_year_date, max_1999_date, max_2008_date]

In [14]:
#Export the data
times = pd.DataFrame({'year': [year, '1999', '2008'], 'min': mins,
                   'max': maxes, '# data points': [len(w_year), len(w_1999), len(w_2008)]})
times.to_csv('./exports/times.csv')

In [15]:
times.head()

   year                 min                 max  # data points
0  1998 1998-08-12 21:04:00 1998-12-29 12:31:31            957
1  1999 1999-01-04 16:13:10 1999-12-31 21:52:20           1646
2  2008 2008-01-02 00:01:52 2008-12-30 13:01:13           3317